<%- include("includes/head.ejs") %>
<body>
    <h1>404 Not Found!</h1>
    <h3>Username not Found</h3>
    <h2> Create Account <button>Create</button></h2>
     

    <%- include("includes/footer.ejs") %>
</body>
</html>