<%- include("includes/head.ejs") %>

<body>
    <h1>This is home page</h1>
    <h3> <%= "aditya".toUpperCase() %></h3>
    <h3> <%= ["hii","hello","bhago","ruko"][2] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime nobis odit id unde,
         aut laboriosam suscipit culpa modi voluptatem consequatur voluptatum tempore neque
        commodi totam tenetur sapiente hic, dolor molestias quas esse necessitatibus dignissimos 
        harum? Consectetur illum tempore eveniet ut.</p>
    <button>Click me!</button>
    <%- include("includes/footer.ejs") %>
</body>
</html>