<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>

</head>
<body>
    <h2>Edit Your Post</h2>
    <p>Post id : <%= post.id  %></p>
    <h3 class="user">@<%= post.username %></h3>

    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <!-- <input placeholder="write the content to get it updated."  type="text"  > -->
        <textarea name="content" placeholder="write your stuffs" cols="30" rows="10"><%= post.content %></textarea>
        <button> Submit</button>
    </form>
    
</body>
</html>